doctype html
html(lang="en")
  head
    title Demo Application
    script(src='bower_components/angularjs/angular.min.js')
    script(src='test.module.js')
  body(ng-app="testapp")
    div(ng-controller="TestController")
      form(ng-submit="submitForm()")
        input(ng-model="formData.text" placeholder="insert text")
        button(type="submit") Submit
      pre {{responseData | json}}
